before_install:
  - gem install bundler:1.17.3
cache: bundler
dist: xenial
language: ruby
rvm:
  - 1.9.3
  - 2.0
  - 2.1
  - 2.2
  - 2.2
  - 2.3
  - 2.4
  - 2.5
  - 2.6
  - 2.7
  - 3.0
  - jruby-head
